<div class='container'>
    <h1><%= i18n('user-name') + ' - ' + user.name %> </h1>
    <h3><%= i18n('last-name') + ' - ' + user.lastName %></h3>
    <h3><%= i18n('access-rights') + ' - ' + i18n('role-' + user.role) %> </h3>

    <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>"><%= i18n('edit') %></a>

</div>
